# Question 1: Check if 25 is greater than 20 and less than 30

In [1]:
num = 25
result = 20 < num < 30
print(result)

True

# Question 2: Check if string "python" is equal to "Python" (case sensitive)

In [2]:
str1 = "python"
str2 = "Python"

result = str1 == str2
print(result)

False

# Question 3: Check if 15 is divisible by both 3 and 5

In [4]:
a = 15
result = (a % 3 == 0) and (a % 5 == 0)
print(result)

True

# Question 4: Check if 7 is not equal to 8

In [5]:
a,b=7,8

result=a!=b

print(result)

True

# Question 5: Check if 100 is greater than 50 or less than 25

In [7]:
n=100

res=25<100>50

print(res)

True

# Question 6: Check if 0 is falsy in Python

In [8]:
value = 0
result = bool(value)
print(result)

False

# Question 7: Check if empty string "" is falsy in Python

In [10]:
s=""

b=bool(s)
print(b)

False

# Question 8: Check if 42 is truthy in Python

In [11]:
i=42

v=bool(i)

print(v)

True

# Question 9: Check if 10 is between 5 and 15 (inclusive)

In [12]:
y=10

o=y in range(5,15)

print(o)

True

# Question 10: Check if 3.14 is greater than 3 and less than 4

In [14]:
f=3.14
r=3<f<4
print(r)

True