# Question 1: Create a dictionary of student names and their ages

In [1]:
students = {
    "venkat": 20,
    "ramana": 22,
    "prabhas": 18,
    "David": 21
}

print(students)

{'venkat': 20, 'ramana': 22, 'prabhas': 18, 'David': 21}

# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

In [2]:
dict_n={'a': 1, 'b': 2, 'c': 3}

dict_n.update({'d':4})

print(dict_n)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}

In [3]:
d={'name': 'John', 'age': 25, 'city': 'New York'}
print(d.keys())

dict_keys(['name', 'age', 'city'])

# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}

In [4]:
d= {'python': 3, 'java': 2, 'c++': 1}
print(d.values())

dict_values([3, 2, 1])

# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}

In [5]:
dict_o={'name': 'Alice', 'age': 30, 'city': 'London'}

if 'age' in dict_o:
  print("age key exists in dict")

else:
  print("age key not exists in dict")

age key exists in dict

# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

In [6]:
f= {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
f.pop("temp")

print(f)

{'a': 1, 'b': 2, 'c': 4}

# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}

In [7]:
dict_g= {'math': 85, 'science': 92, 'english': 78}
sums=0
for i in dict_g.values():
  sums=sums+i

print(sums)

255

# Question 8: Create a dictionary with squares of numbers 1 to 5

In [8]:
squares={}
for i in range(1,6):
  squares[i]=i**2
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Question 9: Count frequency of each character in string "hello"

In [9]:
s="hello"
freq={}
for i in s:
  freq[i]=freq.get(i,0)+1   # If the character exists, get its current count, otherwise start from 0.Then + 1 updates the count for that character
print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

In [10]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged = dict1 | dict2  # The | operator creates a new dictionary containing all keys and values from both dictionaries.
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}

In [11]:
dictionary={'person': {'name': 'Alice', 'age': 25}}
print(dictionary)

{'person': {'name': 'Alice', 'age': 25}}

# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

In [12]:
dict_p= {'person': {'name': 'Alice', 'age': 25}}
print(dict_p['person']['name'])

Alice

# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [13]:
d={'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print(d)

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

# Question 14: Add 'orange' to the 'fruits' list in nested dictionary

In [14]:
d={'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
d['fruits'].append('orange')
print(d)

{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [15]:
di={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print(di)

{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

# Question 16: Extract first coordinate from nested tuple

In [16]:
di={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print(di['coordinates'][0])

10

# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [17]:
d_s={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print(d_s)

{'vowels': {'i', 'a', 'e'}, 'consonants': {'d', 'c', 'b'}}

# Question 18: Add 'o' to vowels set in nested dictionary

In [18]:
d_s={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
d_s['vowels'].add('o')
print(d_s)

{'vowels': {'i', 'a', 'e', 'o'}, 'consonants': {'d', 'c', 'b'}}

# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [19]:
dictionary= {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(dictionary)

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

# Question 20: Access employee name from 3-level nested dictionary

In [20]:
dictionary= {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

print(dictionary['company']['department']['employee']['name'])

John

# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [21]:
h= {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print(h)

{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

# Question 22: Check data type of each value in mixed dictionary

In [22]:
h= {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

for k,v in h.items():
  print(f"{'k'}:{type(v)}")

k:<class 'int'>
k:<class 'float'>
k:<class 'str'>
k:<class 'bool'>

# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}

In [23]:
funcs={'len': len, 'str': str, 'int': int}
print(funcs)

{'len': <built-in function len>, 'str': <class 'str'>, 'int': <class 'int'>}

# Question 24: Apply each function to "123" using dictionary

In [24]:
funcs={'len': len, 'str': str, 'int': int}

for name,fun in funcs.items():
  if fun == len:
    t=fun("123")
  else:
    t=fun(123)
  print(f'{name}:{t}')

len:3
str:123
int:123

# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}

In [27]:
d_l={'double': lambda x: x*2, 'square': lambda x: x**2}
print(d_l)

{'double': <function <lambda> at 0x7858d334c900>, 'square': <function <lambda> at 0x7858d334c9a0>}

# Question 26: Apply each lambda function to 5

In [29]:
x=5
d_l={'double': lambda x: x*2, 'square': lambda x: x**2}


for i in d_l.values():
  r=i(5)
  print(r)

10
25

# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}

In [30]:
a= {'list': list, 'dict': dict, 'set': set}
print(a)

{'list': <class 'list'>, 'dict': <class 'dict'>, 'set': <class 'set'>}

# Question 28: Create instances using class dictionary

In [34]:
a= {'list': list, 'dict': dict, 'set': set}

for name, cls in a.items():
  instances={name:cls()}
  print(instances,end=" ,")

{'list': []} ,{'dict': {}} ,{'set': set()} ,

# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}

In [35]:
n={'a': None, 'b': None, 'c': None}
print(n)

{'a': None, 'b': None, 'c': None}

# Question 30: Replace all None values with 0

In [36]:
n={'a': None, 'b': None, 'c': None}

for i in n:
  if n[i]==None:
    n[i]=0

print(n)

{'a': 0, 'b': 0, 'c': 0}

# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}

In [37]:
e= {'is_active': True, 'is_admin': False}
print(e)

{'is_active': True, 'is_admin': False}

# Question 32: Count True values in boolean dictionary

In [41]:
e= {'is_active': True, 'is_admin': False}

count_true = 0
for i in e:
    if e[i]== True:
        count_true += 1

print(count_true)

1

# Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}

In [42]:
com={'z1': 3+4j, 'z2': 1+2j}
print(com)

{'z1': (3+4j), 'z2': (1+2j)}

# Question 34: Find magnitude of each complex number

In [44]:
com={'z1': 3+4j, 'z2': 1+2j}

for i in com.values():
  magnitude=abs(i)
  print(magnitude)

5.0
2.23606797749979

# Question 35: Create a 4-level nested dictionary

In [45]:
company = {
    'department': {
        'team': {
            'project': {
                'name': 'AI Chatbot',
                'status': 'In Progress'
            }
        }
    }
}

print(company)

{'department': {'team': {'project': {'name': 'AI Chatbot', 'status': 'In Progress'}}}}

# Question 36: Access deepest value in 4-level nested dictionary

In [46]:
company = {
    'department': {
        'team': {
            'project': {
                'name': 'AI Chatbot',
                'status': 'In Progress'
            }
        }
    }
}
deepest_value=company['department']['team']['project']['status']
print(deepest_value)

In Progress

# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}

In [47]:
ranges= {'r1': range(3), 'r2': range(5)}
print(ranges)

{'r1': range(0, 3), 'r2': range(0, 5)}

# Question 38: Convert each range to list

In [48]:
ranges = {'r1': range(3), 'r2': range(5)}

for k in ranges:
    ranges[k] = list(ranges[k])

print(ranges)

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

# Question 39: Create a dictionary with generator values

In [2]:
values_1= []
values_2=[]

for x in range(3):
    values_1.append(x)

for y in range(0,10,2):
    values_2.append(y)
gen_dict = {
    'first_3': values_1,
    'even_nums':values_2
}

print(list(gen_dict['first_3']))
print(list(gen_dict['even_nums']))

[0, 1, 2]
[0, 2, 4, 6, 8]

# Question 40: Convert each generator to list

In [3]:
gen_dict = {
    'first_3': values_1,
    'even_nums':values_2
}

for key in gen_dict:
    gen_dict[key] = list(gen_dict[key])

print(gen_dict)

{'first_3': [0, 1, 2], 'even_nums': [0, 2, 4, 6, 8]}

# Question 41: Create a dictionary with iterator values

In [7]:
data = {
    'first_3': iter([1, 2, 3]),
    'letters': iter(['a', 'b', 'c'])
}

print(data['first_3'])

<list_iterator object at 0x7e5c74e8a860>

# Question 42: Extract all elements from each iterator

In [6]:
data = {
    'first_3': iter([1, 2, 3]),
    'letters': iter(['a', 'b', 'c'])
}

all_elements = {}

for key, it in data.items():
    all_elements[key] = list(it)  # Convert iterator to list

print(all_elements)

{'first_3': [1, 2, 3], 'letters': ['a', 'b', 'c']}

# Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [8]:
g= {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
print(g)

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

# Question 44: Find sum of each nested list

In [9]:
g = {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

total = 0
for value in g.values():
    for item in value:
        if isinstance(item, list):   # if it's a list inside (matrix)
            total += sum(item)
        else:                        # if it's just a number (vector)
            total += item

print(total)

28

# Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [10]:
f_t={'config': {'db': {'host': 'localhost', 'port': 5432}}}
print(f_t)

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

# Question 46: Access database port from nested configuration

In [11]:
database_port=f_t['config']['db']['port']
print(database_port)

5432

# Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [12]:
nested_tup={'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
print(nested_tup)

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

# Question 48: Extract first point coordinates

In [13]:
nested_tup = {
    'points': ((1, 2), (3, 4)),
    'rgb': ((255, 0, 0), (0, 255, 0))
}

first_point = nested_tup['points'][0]
print(first_point)

(1, 2)

# Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}

In [14]:
nested_dict = {
    'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
    'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}
}

print(nested_dict)

{'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})}, 'categories': {frozenset({'c', 'd'}), frozenset({'b', 'a'})}}

# Question 50: Find union of all nested sets

In [15]:
nested_dict = {
    'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
    'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}
}

# Union of all sets
union_result = set()
for value in nested_dict.values():
    for s in value:
        union_result |= set(s)  # union operation

print(union_result)

{1, 2, 3, 4, 5, 6, 'c', 'd', 'b', 'a'}