# Question 1: Create a list of first 10 square numbers

In [1]:
l=list(range(1,11))

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_even=0
for i in l:
  if i%2==0:
    sum_even=sum_even+i

print(sum_even)

30

# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

In [4]:
l=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

print(set(l))

{1, 2, 3, 4, 5, 6, 7}

# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

In [6]:
numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)
# Output: [90, 64, 34, 25, 22, 12, 11]

[90, 64, 34, 25, 22, 12, 11]

# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

In [1]:
num=[15, 23, 31, 42, 56, 78, 91]

avg=sum(num)/len(num)

print(avg)

48.0

# Question 6: Create a list of first 15 Fibonacci numbers

In [5]:
fib=[0,1]

for _ in range(13):

    fib.append(fib[-1]+fib[-2])

print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

In [6]:
mylist=[45, 67, 23, 89, 12, 34, 78]
mylist.sort(reverse=True)

print(mylist[1])

78

# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.reverse()
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

In [12]:
l=[1, 5, 2, 5, 3, 5, 4, 5, 6]
print(l.count(5))

4

# Question 10: Create a list of prime numbers between 1 and 50

In [ ]:
primes = []

for num in range(2, 51):  # Start from 2 because 1 is not prime
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            break
    else:
        primes.append(num)

print(primes)
# Output: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flatten=[]

for i in l:
  for j in i:
    flatten.append(j)


print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

In [16]:
l1,l2=[1, 2, 3, 4, 5],[4, 5, 6, 7, 8]

common=list(set(l1) & set(l2))

print(common)

[4, 5]

# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

In [17]:
nested_list = [[1, 2], [3, 4], [5, 6]]


print(nested_list)
# Output: [[1, 2], [3, 4], [5, 6]]

[[1, 2], [3, 4], [5, 6]]

In [20]:
del sum

# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums=[]
for sublist in l:
  sums.append(sum(sublist))


print(sums)

[6, 15, 24]

# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [22]:
l=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]

maxs=[]
for sublist in l:
  maxs.append(max(sublist))


print(maxs)

[5, 9, 8]

# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [23]:
l=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

print(l)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [24]:
l=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum=0

for sublist in l:
  for j in sublist:
    for z in j:
      total_sum+=z
print(total_sum)

36

# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
k = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for sublist in k:      # sublist is [1, 2, 3], etc.
    for j in sublist:  # j is an integer here
        if j % 2 == 0: # ✅ works fine because j is a number
            print(j,end=",")

2,4,6,8,

# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]

In [32]:
h=[1, "hello", 3.14, True, [1, 2, 3]]
print(h)

[1, 'hello', 3.14, True, [1, 2, 3]]

# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]

In [36]:
sr=["apple", "banana", "cherry", "date"]

for i in sr:
  print(f"length of each string {i} :{len(i)}")

length of each string apple :5
length of each string banana :6
length of each string cherry :6
length of each string date :4

# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [37]:
l = [(1, 'a'), (2, 'b'), (3, 'c')]
print(l)

[(1, 'a'), (2, 'b'), (3, 'c')]

# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

In [39]:
l = [(1, 'a'), (2, 'b'), (3, 'c')]

for i in l:
  print(i[0],end=",")

1,2,3,

# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [40]:
d=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(d)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

# Question 25: Extract all 'name' values from list of dictionaries

In [43]:
d=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
for i in d:
  print(i["name"])

Alice
Bob

# Question 26: Find the person with maximum age in list of dictionaries

In [52]:
d = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(max([i['age'] for i in d]))

30

# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [53]:
u= [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print(u)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

# Question 28: Find the maximum value in 4D list

In [56]:
u= [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print(max(num for block in u for subblock in block for row in subblock for num in row))

16

# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [57]:
f=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(f)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

# Question 30: Find the union of all sets in list of sets

In [58]:
sets_list = [{1, 2}, {2, 3}, {4, 5}]
result = set().union(*sets_list) # *sets_list unpacks the list into individual,set().union() takes the union of all sets at once.
print(result)

{1, 2, 3, 4, 5}

# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

In [59]:
s= [1+2j, 3+4j, 5+6j]
print(s)

[(1+2j), (3+4j), (5+6j)]

# Question 32: Find the magnitude of each complex number in list

In [60]:
s= [1+2j, 3+4j, 5+6j]

for i in s:
  magntude=abs(i)

print(magntude)

7.810249675906654

# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

In [61]:
nested_list = [1, [2, 3], [4, [5, 6]], 7]

print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

# Question 35: Create a list of functions: [len, str, int, float]

In [62]:
funcs = [len, str, int, float]

print(funcs)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

# Question 36: Apply each function in list to string "123"

In [63]:
funcs = [len, str, int, float]
value = "123"

for f in funcs:
    print(f(value))

3
123
123
123.0

# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

In [64]:
y=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
print(y)

[<function <lambda> at 0x7e7058ffa660>, <function <lambda> at 0x7e7058ffa020>, <function <lambda> at 0x7e7058ffa980>]

# Question 38: Apply each lambda function to 5

In [65]:
y=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
value=5

for f in y:
  print(f(value))

10
25
6

# Question 39: Create a list of classes: [list, dict, set, tuple]

In [66]:
s=[list, dict, set, tuple]
print(s)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

# Question 40: Create instances of each class in list

In [71]:
classes = [list, dict, set, tuple]

instances = []
for cls in classes:
    instances.append(cls())

print(instances)

[[], {}, set(), ()]

# Question 41: Create a list of None values: [None, None, None, None]

In [72]:
n=[None, None, None, None]
print(n)

[None, None, None, None]

# Question 42: Replace all None values with 0 in list

In [73]:
data = [1, None, 3, None, 5]

for i in range(len(data)):
    if data[i] is None:
        data[i] = 0

print(data)

[1, 0, 3, 0, 5]

# Question 43: Create a list of boolean values: [True, False, True, False]

In [74]:
bolean=[True, False, True, False]
print(bolean)

[True, False, True, False]

# Question 44: Count True values in boolean list

In [77]:

count=0
for i in bolean:
  if i==True:
    count+=i


print(count)

2

# Question 45: Create a list of ranges: [range(3), range(5), range(2)]

In [78]:
r= [range(3), range(5), range(2)]
print(r)

[range(0, 3), range(0, 5), range(0, 2)]

# Question 46: Convert each range to list

In [82]:
ranges = [range(5), range(2, 6), range(1, 10, 2)]
lists = []
for r in ranges:
  lists.append(list(r))
print(lists)

[[0, 1, 2, 3, 4], [2, 3, 4, 5], [1, 3, 5, 7, 9]]

# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

In [83]:
generators= [(x for x in range(3)), (x for x in range(5))]
for g in generators:
    print(list(g))

[0, 1, 2]
[0, 1, 2, 3, 4]

# Question 48: Convert each generator to list

In [84]:
generators = [(x for x in range(3)), (x for x in range(5))]
lists = [list(g) for g in generators]
print(lists)

[[0, 1, 2], [0, 1, 2, 3, 4]]

# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

In [85]:
iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
lists = []
for it in iterators:
  lists.append(list(it))
print(lists)

[[1, 2, 3], [4, 5, 6]]

# Question 50: Extract all elements from each iterator

In [88]:
iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
all_elements = []

# Extract and flatten
for it in iterators:
  for x in it:
    all_elements.append(x)

print(all_elements)

[1, 2, 3, 4, 5, 6]