# Question 1: Create a set of first 10 natural numbers

In [1]:
s=set(range(1,11))


print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Question 2: Add element 11 to set {1, 2, 3, 4, 5}

In [2]:
s={1, 2, 3, 4, 5}
s.add(11)

print(s)

{1, 2, 3, 4, 5, 11}

# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}

In [3]:
s={1, 2, 3, 4, 5, 6}

s.remove(3)

print(s)

{1, 2, 4, 5, 6}

# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1 & set2
print(intersection)

# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference = set1 - set2
print(difference)

{1, 2, 3}

# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

In [1]:
my_set = {1, 2, 3, 4, 6, 7, 8}

if 5 in my_set:
    print("5 is in the set")
else:
    print("5 is not in the set")

5 is not in the set

# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

In [2]:
s={'a', 'b', 'c', 'd', 'e'}

print(len(s))

5

# Question 8: Create a set of vowels from string "hello world"

In [3]:
text = "hello world"
vowels = {'a', 'e', 'i', 'o', 'u'}

vowel_set = set()   # We create an empty set


for char in text:   # Then go through each character in the string

    if char in vowels:
        vowel_set.add(char)  # If the character is a vowel, we add it to the set

print(vowel_set)

{'e', 'o'}

# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

In [5]:
lis=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

s=set(lis)

print(s)

{1, 2, 3, 4, 5, 6, 7}

# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}

In [7]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}


print(set1.issubset(set2))

True