# Question 1: Create a tuple of first 10 natural numbers

In [ ]:
t=tuple(range(0,11))

print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
w=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(len(w))

10

# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

In [ ]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')


t=('a', 'b', 'c', 'd', 'e')
print(t[2])

c

# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

In [ ]:
t=(23, 45, 12, 67, 34, 89, 56)
max_value=max(t)

print(max_value)

89

# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

In [ ]:
t=(1, 5, 2, 5, 3, 5, 4, 5, 6)

t.count(5)

4

# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

In [ ]:
mixed_tuple = (10, 3.14, "hello", True)
print(mixed_tuple)

(10, 3.14, 'hello', True)

# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

In [ ]:
t=('java', 'python', 'c++', 'javascript')

t.index("python")

1

# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

In [ ]:
t=(10, 20, 30, 40, 50)

if 25 in t:
  print("25 exists in tuple")

else:
    print("25 not  exists in tuple")

25 not  exists in tuple

# Question 9: Create a tuple of first 5 even numbers

In [ ]:
t=tuple(range(1,5,2))

print(t)

(1, 3)

# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

In [ ]:
t=(15, 23, 31, 42, 56, 78)

avg=sum(t)/len(t)

print(avg)

40.833333333333336